.renne-kitchen-block{
    width: 100%;
    height: 100vh;
    background-color: white;
}

.renne-kitchen-hero{
    width: 100%;
    height: 50%;
    background-color: black;
}

.renne-kitchen-hero-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
    /* opacity: 0.4; */
    filter: brightness(40%);
    object-position: 0px -600.099px;
    display: block;
    background-color: #121212;
    
}

.renne-kitchen-hero-image-text{
    width: 50%;
    height: 20%;
    /* background-color: black; */
    color: white;
    font-family: inter;
    font-weight: 600;
    font-size: 60px;
    /* font-style: normal; */
    display: flex;
    align-items: center;
    justify-content: center;
    /* letter-spacing: 4px; */
    line-height: 120px;
    position: absolute;
    Top: 98px;
    Left: 324px;
}

.renne-hero-back-timer-rapper{
    width: 93%;
    height: 8%;
    /* background-color: blue; */
    position: absolute;
    top: 20px;
    left: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px;
    justify-content: space-between;
}

.renne-back-arrow{
    font-size: 25px;
    color: #ffffff;
    cursor: pointer;
}

.renne-arriver-time{
    width: 13%;
    height: 100%;
    background-color: #ffffff;
    border-radius: 5px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-family: inter;
    font-weight: 400;
    font-size: 14px;
    line-height: 140px;
    gap: 10px;
}

.renne-drive{
    width: 20%;
    /* height: 50%; */
    /* background-color: #F54222; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.renne-hero-rating{
    width: 23%;
    height: 6%;
    /* background-color: blue; */
    position: absolute;
    top: 275px;
    left: 40px;
    padding: 4px;
    display: flex;
    align-items: center;
    text-align: center;
    gap: 10px;
    color: white;
    font-family: inter;
    font-weight: 600;
    font-size: 18px;
    line-height: 100px;
}

.renne-star{
    width: 55%;
    height: 100%;
    /* background-color: red; */
    color: #ffa600;
    gap: 8px;
    /* padding: 4px; */
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* text-align: center; */
}

.renne-star>span{
    margin-top: 6px;
}

.renne-meal-title-box1{
    width: 100%;
    /* height: 100%; */
    height: max-content;
    /* background-color: skyblue; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    margin-top: 50px;
}

.renne-meal-title-box2{
    width: 92%;
    height: 10%;
    /* background-color: royalblue; */
    margin-top: 20px;
}

.renne-title{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: inter;
    font-weight: 600;
    font-size: 42px;
    font-style: normal;
    line-height: 120%;
    color: black;
}

.renne-meal-table-cover{
    width: 92%;
    height: 90%;
    /* background-color: dodgerblue; */
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    gap: 11px;
    margin-bottom: 30px;
}

.renne-meal-table-box{
    width: 280px;
    height: 460px;
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 60px;
}

.renne-meal-table-images{
    width: 280px;
    height: 308px;
    border-radius: 18px;
    background-color: brown;
    border: none;
    position: relative;
    z-index: 0;
}

.renne-meal-table-images-image{
    width: 280px;
    height: 308.9px;
    object-fit: cover;
    border-radius: 18px;
    position: absolute;
}

.renne-meal-table-images-price > span{
    width: 111px;
    height: 37px;
    position: absolute;
    top: 15px;
    left: 13px;
    background-color: #F54222;
    color: white;
    font-family: inter;
    font-weight: 600;
    font-size: 22px;
    line-height: 120%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.renne-naira{
    width: 20%;
}

.renne-meal-table-images-text{
    width: 280px;
    height: 75px;
    /* background-color: aquamarine; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    justify-content: space-between;
}

.renne-text-00091{
    width: 280px;
    height: 36px;
    color: black;
    font-family: inter;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.renne-text-00092-cart{
    width: 143px;
    height: 24px;
    /* background-color: chartreuse; */
    color: black;
    font-family: inter;
    font-size: 20px;
    font-weight: 500;
    line-height: 120%;
    text-decoration: underline;
    display: flex;
}

.renne-text-cart-text{
    width: 111px;
    height: 24px;
    color: black;
    font-family: inter;
    font-weight: 500;
    font-size: 18px;
    line-height: 120%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.renne-text-cart-icons{
    width: 24px;
    height: 24px;
    /* background-color: blue; */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    cursor: pointer;
}

.renne-meal-table-images-text-btn{
    width: 280px;
    height: 36px;
    border-radius: 7px;
    background-color: #F54222;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.renne-meal-table-images-text-btn:hover{
    background-color: #2f2f2f;
}

.renne-btn00091{
    width: 108px;
    height: 25px;
    color: white;
    background-color: transparent;
    font-family: inter;
    font-size: 20px;
    line-height: 120%;
    font-weight: 500;
    border-radius: none;
    border: none;
    cursor: pointer;
}



/* water */


.renne-gocontainer{
    width: 100%;
    height: 100%;
    /* background-color: seagreen; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
}

.renne-gomeal-title-box2{
    width: 92%;
    height: 10%;
    /* background-color: royalblue; */
}

.renne-gotitle{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: inter;
    font-weight: 600;
    font-size: 42px;
    font-style: normal;
    line-height: 120%;
    /* letter-spacing: 2px; */
    color: black;
}

.renne-gomeal-table-cover{
    width: 92%;
    height: 90%;
    /* background-color: dodgerblue; */
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    gap: 11px;
}

.renne-gomeal-table-box{
    width: 280px;
    height: 400px;
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.renne-gomeal-table-images{
    width: 280px;
    height: 268px;
    border-radius: 18px;
    background-color: brown;
    border: none;
    position: relative;
    z-index: 0;
}

.renne-gomeal-table-images-image{
    width: 280px;
    height: 268.9px;
    object-fit: cover;
    border-radius: 18px;
    position: absolute;
}

.renne-gomeal-table-images-price > span{
    width: 101px;
    height: 35px;
    position: absolute;
    top: 15px;
    left: 13px;
    background-color: #F54222;
    color: white;
    font-family: inter;
    font-weight: 600;
    font-size: 22px;
    line-height: 120%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.renne-gonaira{
    width: 20%;
}

.renne-gomeal-table-images-text{
    width: 280px;
    height: 70px;
    /* background-color: aquamarine; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    justify-content: space-between;
}

.renne-gotext-00091{
    width: 280px;
    height: 36px;
    color: black;
    font-family: inter;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.renne-gotext-00092-cart{
    width: 143px;
    height: 24px;
    /* background-color: chartreuse; */
    color: black;
    font-family: inter;
    font-size: 20px;
    font-weight: 500;
    line-height: 120%;
    text-decoration: underline;
    display: flex;
}

.renne-gotext-cart-text{
    width: 111px;
    height: 24px;
    color: black;
    font-family: inter;
    font-weight: 500;
    font-size: 18px;
    line-height: 120%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.renne-gotext-cart-icons{
    width: 24px;
    height: 24px;
    /* background-color: aliceblue; */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    cursor: pointer;
}

.renne-gomeal-table-images-text-btn{
    width: 280px;
    height: 36px;
    border-radius: 7px;
    background-color: #F54222;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.renne-gomeal-table-images-text-btn:hover{
    background-color: #2f2f2f;
}

.renne-gobtn00091{
    width: 108px;
    height: 25px;
    color: white;
    background-color: transparent;
    /* background: transparent; */
    font-family: inter;
    font-size: 20px;
    line-height: 120%;
    font-weight: 500;
    border-radius: none;
    border: none;
    cursor: pointer;
}







/* @media screen and (max-width: 500px) {} */
@media screen and (max-width: 390px) {
  .renne-kitchen-block {
    width: 100%;
  }

  .renne-kitchen-hero {
    width: 100%;
    height: 45%;
    position: relative;
  }

  .renne-kitchen-hero-image {
    width: 100%;
    height: 100%; 
    object-fit: cover;
    filter: brightness(35%);
    object-position: 0px -100.099px;
    display: block;
  }

  .renne-kitchen-hero-image-text {
    width: 100%;
    color: white;
    /* background-color: aqua; */
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 28px;
    text-align: center;
    position: absolute;
    top: 45%;   
    left: 50%;
    transform: translateX(-50%);
  }

  .renne-hero-back-timer-rapper {
    width: 90%;
    height: 15%;
    position: absolute;
    /* background: #ffa600; */
    top: 30px;
    left: 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .renne-back-arrow {
    font-size: 1.5rem;
    color: #fff;
  }

  .renne-arriver-time {
    width: 40%;
    height: 100%;
    padding: 4px 8px;
    background-color: #fff;
    border-radius: 5px;
    color: #121212;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
    font-family: 'Inter', sans-serif;
  }

  .renne-drive {
    font-size: 16px;
  }

  .renne-hero-rating {
    width: 50%;
    /* background-color: blue; */
    position: absolute;
    bottom: 10px;
    left: 17px;
    color: white;
    font-family: 'Inter', sans-serif;
    font-size: 0.9rem;
    display: flex;
    gap: 6px;
    align-items: center;
  }

  .renne-star {
    display: flex;
    gap: 4px;
    color: #ffa600;
    font-size: 1rem;
  }

  /* Meals Section */
  .renne-meal-title-box1 {
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0px;
    /* background-color: skyblue; */
  }

  .renne-meal-title-box2 {
    width: 90%;
    /* background-color: royalblue; */
    
  }

  .renne-title {
    font-size: 1.5rem; 
    text-align: center;
    
  }

  .renne-meal-table-cover {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    justify-content: center;
    /* background-color: dodgerblue; */
  }

  .renne-meal-table-box {
    width: 45%;  
    min-width: 160px;
    height: auto;
    /* background-color: black; */
    gap: 5px;
  }

  .renne-meal-table-images {
    width: 100%;
    height: 160px;
    border-radius: 12px;
    position: relative;
    overflow: hidden;
    background-color: white;
  }

  .renne-meal-table-images-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .renne-meal-table-images-price > span {
    width: 80px;
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #F54222;
    color: white;
    font-size: 1rem;
    padding: 2px 6px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    gap: 2px;
  }

  .renne-meal-table-images-text{
    width: 100%;
    height: 29%;
    /* background-color: aquamarine; */
  }

  .renne-text-00091 {
    width: 100%;
    height: 50%;
    font-size: 0.9rem;
    font-weight: 600;
    text-align: center;
    /* background-color: blueviolet; */
  }

  .renne-text-00092-cart {
    width: 60%;
    font-size: 4px;
    font-weight: none;
    text-decoration: underline;
    display: flex;
    justify-content: center;
    /* background-color: chartreuse; */
  }

  .renne-text-cart-text{
    width: 111px;
    height: 24px;
    color: black;
    font-family: inter;
    font-weight: 500;
    font-size: 12px;
    line-height: 120%;
    display: flex;
    align-items: center;
    justify-content: center;
    }

  .renne-text-cart-icons{
    width: 17px;
    /* background-color: blue; */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    }

  .renne-meal-table-images-text-btn {
    width: 100%;
    margin-top: 6px;
    border-radius: 6px;
    background-color: #F54222;
  }

  .renne-meal-table-images-text-btn:hover {
    background-color: #2f2f2f;
  }

  .renne-btn00091 {
    font-size: 0.9rem;
    color: white;
    border: none;
    background: transparent;
  }

  /* bottel water */


  .renne-gocontainer{
    width: 100%;
    height: 100%;
    /* background-color: seagreen; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
}

.renne-gomeal-title-box2{
    width: 92%;
    height: 10%;
    /* background-color: royalblue; */
}

.renne-gotitle{
    font-size: 1.5rem; 
    text-align: center;
}

.renne-gomeal-table-cover{
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    justify-content: center;
    /* background-color: dodgerblue; */
}

.renne-gomeal-table-box{
    width: 45%;  
    min-width: 160px;
    height: auto;
    /* background-color: black; */
    gap: 5px;
}

.renne-gomeal-table-images{
    width: 100%;
    height: 160px;
    border-radius: 12px;
    position: relative;
    overflow: hidden;
    background-color: white;
}

.renne-gomeal-table-images-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.renne-gomeal-table-images-price > span{
    width: 80px;
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #F54222;
    color: white;
    font-size: 1rem;
    padding: 2px 6px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    gap: 2px;
}

.renne-gonaira{
    width: 20%;
}

.renne-gomeal-table-images-text{
    width: 100%;
    height: 29%;
    /* background-color: aquamarine; */
}

.renne-gotext-00091{
    width: 100%;
    height: 50%;
    font-size: 0.9rem;
    font-weight: 600;
    text-align: center;
    /* background-color: blueviolet; */
}

.renne-gotext-00092-cart{
    width: 60%;
    font-size: 4px;
    font-weight: none;
    text-decoration: underline;
    display: flex;
    justify-content: center;
    /* background-color: chartreuse; */
}

.renne-gotext-cart-text{
    width: 111px;
    height: 24px;
    color: black;
    font-family: inter;
    font-weight: 500;
    font-size: 12px;
    line-height: 120%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.renne-gotext-cart-icons{
    width: 17px;
    /* background-color: blue; */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
}

.renne-gomeal-table-images-text-btn{
    width: 100%;
    margin-top: 6px;
    border-radius: 6px;
    background-color: #F54222;
}

.renne-gomeal-table-images-text-btn:hover{
    background-color: #2f2f2f;
}

.renne-gobtn00091{
    font-size: 0.9rem;
    color: white;
    border: none;
    background: transparent;
}
  
}