.Header_cont {
  /* border: 2px solid red; */
  height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

.Header_child {
  /* border: 2px solid blue; */
  width: 100%;
  max-width: 95%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Header_Contents {
  /* border: 2px solid red; */
  width: 30rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.input_container {
  background-color: #f3ccc2;
  border: 1px solid #f2a899;
  border-radius: 2rem;
  width: 18rem;
  /* padding: 0.5rem; */
  height: 2.2rem;
  padding: 0 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Header_search_input {
  height: 95%;
  background-color: transparent;
  border: none;
  outline: none;
  color: rgb(58, 58, 58);
}

.cart_and_user_holder {
  /* border: 2px solid green; */
  width: 6rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.ATC {
  position: relative;
}

.Header_cart {
  font-size: 1.5rem;
  cursor: pointer;
}

.number_of_cart_items {
  position: absolute;
  top: -10px;
  right: -10px;
  background-color: red;
  width: 1rem;
  height: 1rem;
  text-align: center;
  color: white;
  border-radius: 50%;
}

.Header_user_cont {
  background-color: #f54222;
  width: 2rem;
  height: 2rem;
  color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.Header_user_icon {
  font-size: 1.2rem;
}

.cart_items_cont {
  position: fixed;
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(58, 58, 58, 0.317);
}

.empty_cart_items_cont {
  position: absolute;
  right: 0;
  width: 40%;
  height: 100%;
  background-color: white;
}

.empty_cart_heading_cont {
  /* border: 2px solid red; */
  height: 15%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.empty_cart_heading {
  /* border: 2px solid blue; */
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.heading_child {
  /* border: 2px solid green; */
  width: 100%;
  max-width: 90%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.empty_cart_heading_line {
  border: 1px solid gray;
}

.empty_cart_close_button {
  background-color: black;
  color: white;
  border-radius: 50%;
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.sign_up_bg {
  background-color: rgba(58, 58, 58, 0.339);
  position: fixed;
  height: 100vh;
  width: 100%;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sign_up_close_btn {
  position: absolute;
  right: 30px;
  top: 20px;
  background-color: black;
  width: 1.5rem;
  color: white;
  height: 1.5rem;
  border-radius: 50%;
  /* font-size: 0.5rem; */
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.sign_up_cont {
  background-color: white;
  border-radius: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 60%;
  height: 95%;
}

.sign_up_child {
  /* border: 2px solid red; */
  height: 100%;
  width: 25rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.form_heading {
  /* border: 2px solid gray; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 70%;
  height: 15%;
}

.sign_up_input_form {
  /* border: 2px solid blue; */
  width: 100%;
  height: 85%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.sign_up_name_input_holder {
  display: flex;
  /* border: 2px solid green; */
  justify-content: space-between;
  gap: 10px;
}

.sign_up_inputs {
  border: 1px solid gray;
  height: 1.9rem;
  width: 100%;
  border-radius: 0.5rem;
  padding-left: 0.5rem;
  margin-top: 0.4rem;
  outline: none;
}

.sign_up_btn {
  background-color: #f54222;
  border: 1px solid #f54222;
  border: none;
  padding: 0.4rem;
  border-radius: 0.3rem;
  color: white;
  font-size: 1.1rem;
  transition: all ease-in-out 0.8s;
  cursor: pointer;
}

.sign_up_btn:hover {
  background-color: white;
  color: rgb(59, 59, 59);
  border: 1px solid gray;
}

.OTP_bg {
  background-color: rgba(61, 61, 61, 0.337);
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.OTP_form_bg {
  background-color: white;
  height: 85%;
  width: 50%;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.OTP_form_child {
  /* border: 2px solid red; */
  width: 100%;
  max-width: 80%;
  height: 100%;
  max-height: 75%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}
.OTP_heading {
  text-align: center;
}

.OTP_inputs_cont {
  /* border: 2px solid indigo; */
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.OTP_inputs {
  width: 5rem;
  height: 4rem;
  font-size: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  outline: none;
  /* cursor: text; */
  color: rgb(32, 32, 32);
}

.OTP_btn {
  width: 100%;
  height: 3rem;
  background-color: #f54222;
  color: white;
  font-size: 1.2rem;
  cursor: pointer;
  border-radius: 0.5rem;
  transition: all ease-in-out 0.5s;
  border: none;
}

.OTP_btn:hover {
  background-color: white;
  color: rgb(39, 39, 39);
  border: 1px solid #f54222;
}

.Mobile_content {
  display: none;
}

.mobile_nav {
  font-size: 2rem;
  color: rgb(35, 35, 35);
  cursor: pointer;
}

.mobile_menu_cont {
  background-color: rgba(160, 160, 160, 0.53);
  height: 100vh;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
}

.mobile_menu_card_cont {
  position: absolute;
  height: 100%;
  width: 23rem;
  background-color: white;
  right: 0;
}

@media screen and (max-width: 900px) {
  .Header_Contents {
    display: none;
  }

  .Mobile_content {
    display: block;
  }
}

@media screen and (max-width: 500px) {
  .mobile_menu_card_cont {
    width: 100%;
  }
}
